footer.footer.bg-black
    .container
    p
    | Copyright © #{moment().format('YYYY')}
    | &nbsp;resrvo, all rights reserved. |&nbsp;
    a(href='/terms') Terms of Use&nbsp;
    | |&nbsp;
    a(href='/privacy') Privacy Policy