doctype html
html
  include ../partials/head
  body(class='web-app')
    include ../partials/navigation
    include ../partials/flash
    block content
    include ../partials/footer
    block scripts





