doctype html
html
  include ../partials/head
  body
    include ../partials/navigation
    include ../partials/flash
    block content
    include ../partials/footer
    block scripts
        script(type="text/javascript", data-main="js/main", src="/js/lib/requirejs/require.js")




