extends ../layouts/layout
block head
    title #{application} &middot; Booking Form
block content
    .container
        .row
            .col-sm-12
                .page-header
                    h2
                        i.fa.fa-file-text-o
                        | &nbsp;Booking Form
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                        .fb-main(id='resrvo_form')

//- Page-specific stuff
block scripts

    link(rel='stylesheet', href='/lib/formbuilder/formbuilder.css')
    script(src="/lib/jquery-ui/ui/jquery.ui.core.js")
    script(src="/lib/jquery-ui/ui/jquery.ui.widget.js")
    script(src="/lib/jquery-ui/ui/jquery.ui.mouse.js")
    script(src="/lib/jquery-ui/ui/jquery.ui.draggable.js")
    script(src="/lib/jquery-ui/ui/jquery.ui.droppable.js")
    script(src="/lib/jquery-ui/ui/jquery.ui.sortable.js")
    script(src="/lib/jquery.scrollWindowTo/index.js")
    script(src="/lib/underscore/underscore-min.js")
    script(src="/lib/underscore.mixin.deepExtend/index.js")
    script(src="/lib/rivets/dist/rivets.js")
    script(src="/lib/backbone/backbone.js")
    script(src="/lib/backbone-deep-model/src/deep-model.js")
    script(src="/lib/formbuilder/formbuilder.js")

    script.
        $(document).ready(function() {
            // Load form
            $.getScript('/lib/application/form.js').done(function () {
                var form_fields = !{form_fields};
                resrvo_form.init(form_fields);
            });
        });

