extends ../layout
block content
    .page-header
        h3 Booking Form
    form.form-horizontal(role='form')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            .formbuilder(id='resrvo_form')

    link(rel='stylesheet', href='/js/lib/formbuilder/formbuilder.css')
    script(src="/js/lib/jquery/jquery.js")
    script(src="/js/lib/jquery-ui/ui/jquery.ui.core.js")
    script(src="/js/lib/jquery-ui/ui/jquery.ui.widget.js")
    script(src="/js/lib/jquery-ui/ui/jquery.ui.mouse.js")
    script(src="/js/lib/jquery-ui/ui/jquery.ui.draggable.js")
    script(src="/js/lib/jquery-ui/ui/jquery.ui.droppable.js")
    script(src="/js/lib/jquery-ui/ui/jquery.ui.sortable.js")
    script(src="/js/lib/jquery.scrollWindowTo/index.js")
    script(src="/js/lib/underscore/underscore-min.js")
    script(src="/js/lib/underscore.mixin.deepExtend/index.js")
    script(src="/js/lib/rivets/dist/rivets.js")
    script(src="/js/lib/backbone/backbone.js")
    script(src="/js/lib/backbone-deep-model/src/deep-model.js")
    script(src="/js/lib/formbuilder/formbuilder.js")
    script(src="/js/form.js")