extends ../layouts/layout
block head
    title #{application} &middot; Provider Management
block content
    .container
        .row
            .col-sm-12
                .page-header
                    h2
                        i.fa.fa-file-text-o
                        | &nbsp;Provider Management
                form.form-horizontal(role='form', id='providerForm', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)

                    .form-group

                        .dataTables_wrapper(class="form-inline", role="grid")
                            button(class="editor_create btn btn-primary") Create new provider
                            .spacer
                            table(id='providers', class="table table-striped table-bordered dTableR dataTable")
                                thead
                                    tr
                                        th _id
                                        th First Name
                                        th Last Name
                                        th Email
                                        th Active
                                        th Created
                                        th Updated
                                        th Edit
                                        th Delete

//- Page-specific stuff
block scripts
    script(src='/lib/jquery/jquery-migrate.min.js')
    script(src='/lib/datatables/jquery.dataTables.js')
    script(src='/lib/datatables/DTBootstrap.js')
    script(src='/lib/datatables/KeyTable.min.js')
    script(src='/lib/datatables/dataTables.editor.min.js')
    script(src='/lib/application/providers.js')

    link(rel="stylesheet", href="/lib/datatables/TableTools.css")
    link(rel="stylesheet", href="/lib/smoke/themes/gebo.css", id="smoke_gebo")
    link(rel='stylesheet', href='/lib/datatables/DTBootstrap.css')
    link(rel='stylesheet', href='/lib/datatables/dataTables.editor.css')



