extends ../layout
block content
    .page-header
        h3 Schedule Settings Management
    form.form-horizontal(role='form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
            table.table.table-bordered
            thead
        tr
            th
            th Mon
            th Tue
            th Wed
            th Thu
            th Fri
            th Sat
            th Sun
        tbody
            tr.general-schedule
                td General Hours
                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')


                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

            tr.provider-schedule
                td Bob
                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                            small to
                            select.form-control.input-sm.end-time(name='schedule[][endTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')

                td.open
                    .cell-wrap
                        a.btn.btn-success.btn-xs.show-times(href='#')
                            span.glyphicon.glyphicon-pencil
                        a.btn.btn-danger.btn-xs.hide-times(href='#')
                            span.glyphicon.glyphicon-remove
                        label.checkbox-inline.schedule-onoff
                            input(type='checkbox', value='1', checked='', name='schedule[][open]')
                        .schedule-times-wrap
                            select.form-control.input-sm.start-time(name='schedule[][startTime]')



