extends ../layouts/layout
block head
    title #{application} &middot; Service Management
block content
    .container
        .row
            .col-sm-12
                .page-header
                    h2
                        i.fa.fa-file-text-o
                        | &nbsp;Services
                form.form-horizontal(role='form', id='providerForm', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .dataTables_wrapper(class="form-inline", role="grid")
                        button(class="editor_create btn btn-primary") Create new service
                        .spacer
                        table(id='services', class="table table-striped table-bordered dTableR dataTable")
                            thead
                                tr
                                    th _id
                                    th Name
                                    th Description
                                    th Duration
                                    th Active
                                    th Created
                                    th Updated
                                    th Edit
                                    th Delete

//- Page-specific stuff
block scripts
    script.
        $(document).ready(function() {
            loadScript('/lib/application/services.js').done(function () {
                resrvo_services.init();
            });
        });
