extends ../layouts/layout

block head
    title #{application} &middot; Booking Widget
block content
    .container
        .row
            .col-sm-12
                .page-header
                    h2
                        i.fa.fa-file-text-o
                        | &nbsp;Booking Widget
                form.form-horizontal(role='form')
                    input(type='hidden', name='_csrf', value=_csrf)

//- Page-specific stuff
block scripts




