extends ../layouts/layout

block head
    title #{application} &middot; Analytics
block content
    .container
        .row
            .col-sm-6.col-sm-offset-3
                .page-header
                    h2
                        i.fa.fa-envelope-o
                        | &nbsp;Analytics