extends ../layouts/layout
block head
    title #{application} &middot; Welcome!

block content
    .preloader
    // Fixed navbar
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#')
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a(href='#') Home
                    li
                        a(href='#') About
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Features
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider
                            li.dropdown-header Nav header
                            li
                                a(href='#') Separated link
                            li
                                a(href='#') One more separated link
                    li
                        a(href='#') Pricing
                    li
                        a(href='#') Contact
                    li
                        a(href='/login') Login
            // /.nav-collapse
    // Parallax Header Starts
    main#top.masthead(role='main')
        .container
            // Startup Logo
            .logo
                a(href='#')
                    img(src='images/startup-template-logo.png', alt='startup-logo')
            // Hero Title
            h1
                | The Most&nbsp;
                span(data-typer-targets='Easy,Effective,Advanced,Secure,Friendly,Simple') Simple
                |&nbsp;and&nbsp;
                strong Powerful Way
                br
                |&nbsp;to&nbsp;
                strong launch
                |&nbsp;your startup
            // Mailchimp Subscribe form
            .row
                .col-md-12
                    img(src="images/web-app-banner.png", alt="Resrvo", class="img-responsive")
            // Mailchimp Subscribe form Ends
    // // Parallax Header Ends
    // Container
    #explore.container
        // Hero Image
        .section-title
            h2 Responsive landing page for startup
            h4 Simple, elegant and intutive user interface
        section.row.heroimg.breath
            .col-md-12.text-center
                img(src='images/flat-mockup-template.png', alt='flat-mockup-template')
        // //Hero Image
        // Features Section
        .section-title
            h2 Some great features of our startup
            h4 With our advanced features, you'll fall in love with
        section.row.features
            // Feature 01
            .col-sm-6.col-md-3
                .thumbnail
                    img(src='images/flat-feature-icon-1.png', alt='analytics-icon')
                    .caption
                        h3 Advanced analytics
                        p Browse and analyze detailed statistics of each of your keywords and phrases.
            // Feature 02
            .col-sm-6.col-md-3
                .thumbnail
                    img(src='images/flat-feature-icon-2.png', alt='analytics-icon')
                    .caption
                        h3 Spy Competitors
                        p
                            | Ever wondered what your competitors are up to? no more with our Spy Competitors.
            // Feature 03
            .col-sm-6.col-md-3
                .thumbnail
                    img(src='images/flat-feature-icon-3.png', alt='analytics-icon')
                    .caption
                        h3 Work with mac
                        p You can even work on your mac with our Mac application and stay synced online.
            // Feature 04
            .col-sm-6.col-md-3
                .thumbnail
                    img(src='images/flat-feature-icon-4.png', alt='analytics-icon')
                    .caption
                        h3 Dedicated support
                        p
                            | Talk to human. when ever you need a help or want to talk with us, we are open 24/7.
        // // Features Section Ends
        // Client Logos
        .section-title
            h2 You are in a good company
            h4 We are funded with world's trusted brands.
        section.row.clientlogo.breath
            .col-md-12.text-center
                img(src='images/client-logos.png', alt='client-logos')
        // // End Client Logos
    // // Container Ends
    // Grey Highlight Section
    .highlight.testimonials
        .container
            // Testimonials
            .section-title
                h2 What our customers said
                h4 Don't take our word. See our testimonials
            section.row.breath
                .col-md-6
                    .testblock
                        | Startup is really a great template to get strarted with. With its awesome features and easy customization with unbounce. This template made my day. Very recommended.
                    .clientblock
                        img(src='images/customer-img-1.jpg', alt='.')
                        p
                            strong Johnathan Doe
                            br
                            | Founder and CEO of
                            a(href='#') Square Inc
                .col-md-6
                    .testblock
                        | I like this template very much. easy customization and perfect support. This is the finest startup template I've ever seen. Its minimal, Flat and responsive too. I'm really happy with their service.
                    .clientblock
                        img(src='images/customer-img-2.jpg', alt='.')
                        p
                            strong Michael  Slats
                            br
                            | Project Lead at
                            a(href='#') Airbnb.com
            // // End Testimonials
    // // End Grey Highlight Section
    // Container
    .container
        // Pricing
        .section-title
            h2 Honest pricing. No surprises.
            h4 No contract. No risk. No credit card required.
        section.row.breath.planpricing
            .col-md-4
                .pricing.color1
                    .planname Personal
                    .price
                        span.curr $
                        | 14
                        span.per /MO
                    .billing Billed Annually
            .col-md-4
                .pricing.color2
                    .planname Agency
                    .price
                        span.curr $
                        | 49
                        span.per /MO
                    .billing Billed Annually
            .col-md-4
                .pricing.color3
                    .planname Enterprise
                    .price
                        span.curr $
                        | 99
                        span.per /MO
                    .billing Billed Annually
        // // End Pricing
        // FAQ
        .section-title
            h5 Frequently Asked Questions
        section.row.faq.breath
            .col-md-6
                h6 How does the free trial work?
                p
                    | Our 10 day trial is 100% free and does not require credit card information to start. If at the end of your trial you would like to upgrade, great. If not, you can cancel your account altogether, or let us mark it as inactive for you to come back to later.
                h6 Can I switch plans later?
                p
                    | Absolutely. You can switch between our paid plans, or cancel your account altogether, whenever you like. We will adjust any payments accordingly.
            .col-md-6
                h6 Do I need to choose a plan now?
                p
                    | No. You get the full featured, unlimited version of Startup completely free for 10 days. Once you're ready to upgrade, you may choose a plan which suits your needs.
                h6 What payment types do you accept?
                p
                    | We accept payments from MasterCard, Visa, Visa Debit and American Express. We do not accept PayPal. Remember, you do not need to supply card details to start your free trial.
        // // End FAQ
    // // Container Ends
    // Parallax Footer Starts
    main.footercta(role='main')
        .container
            // Hero Title
            h1
                | The Most Simple & Yet
                strong Powerful Way
                br
                | to
                strong launch
                | your startup
            // Mailchimp Subscribe form
            .row
                .col-md-12.breath.text-center
                    a.btn.btn-success.btn-lg.gototop(href='#top') GET EARLY ACCESS
    // // Parallax Footer Ends
    // Container
    .container
        section.row.breath
            .col-md-12.footerlinks
                a(href='#') About
                a(href='#') Pricing
                a(href='#') Blog
                a(href='#') Help
                a(href='#') Contact
                a(href='#') Privacy
                a(href='#') Terms
                p © 2014 Resrvo. All Rights Reserved


//- Page-specific stuff
block scripts
    script(src='/lib/application/home/pace.js')
    script(src='/lib/application/home/easing.js')
    script(src='/lib/application/home/typer.js')
    script(src='/lib/application/home/nicescroll.js')
    script(src='/lib/application/home/ketchup.all.js')
    script.
        $(function () {
            $('[data-typer-targets]').typer();
        });
        $(function() {
           $('.scrollto, .gototop').bind('click',function(event){
             var $anchor = $(this);
             $('html, body').stop().animate({
               scrollTop: $($anchor.attr('href')).offset().top
             }, 1500,'easeInOutExpo');
             event.preventDefault();
           });
        });

